
@{
    ViewBag.Title = "ProcessSummaryReport2";
}

<h2>Summary Report</h2>

<h4>The summart report is succesfully created. Do you want to save it?</h4>

 
@Html.ActionLink("Save", "ProcessSummaryReport3", null, new { @class = "btn btn-primary btn-md" })
@Html.ActionLink("Save Later", "ProcessSummaryReport3", null, new { @class = "btn btn-primary gray_button" })

