
@{
    ViewBag.Title = "ProcessDataReport4";
}

<h2>Process Data Report</h2>

<h4>The data report has been updated into the database and stored into the network drive. The processing department has also been notified.</h4>

