
@{
    ViewBag.Title = "ProcessDataReport";
}

<h2>Process Data Report</h2>


<div class="form-group">
    <label>Enter the work order number </label>
    <input class="form-control" placeholder="Enter the number">
    

</div>
@Html.ActionLink("Create Report","ProcessDataReport2" , null, new { @class = "btn btn-primary btn-md" })</p>
