
@{
    ViewBag.Title = "ProcessSummaryReport";
}

<h2>Summary Report</h2>



<div class="form-group">
    <label>Enter the work order number </label>
    <input class="form-control" placeholder="Enter the number">


</div>
@Html.ActionLink("Create Report", "ProcessSummaryReport2", null, new { @class = "btn btn-primary btn-md" })</p>

