
@{
    ViewBag.Title = "ProcessDataReport2";
}

<h2>ProcessDataReport2</h2>

<h4>The data report is successfully created. This will be notified to Seattle reporting department.</h4>

@Html.ActionLink("Next", "ProcessDataReport3", null, new { @class = "btn btn-primary btn-md" })</p>
