
@{
    ViewBag.Title = "ProcessSummaryReport4";
}

<h2>ProcessSummaryReport4</h2>
<h4>How many copies do you want to print?</h4>

    <form action="PrintCopy">
        <input type="number" name="copies" step="1">
        @Html.ActionLink("Create Report", "ProccesSummaryReport5", null, new { @class = "btn btn-primary btn-md" })


    </form>