
@{
    ViewBag.Title = "ProcessDataReport3";
}

<h2>Process Data Report</h2>

<div class="form-group">
    <label>Write the brief description of results </label>
    <p class="a"><input class="form-control" placeholder="Write description here"></p>


</div>

@Html.ActionLink("Save", "ProcessDataReport4", null, new { @class = "btn btn-primary btn-md" })</p>
