
@{
    ViewBag.Title = "ProcessSummaryReport2";
}

<h2>Summary Report</h2>



<p>@Html.ActionLink("Save", null, "Home", null, new { @class = "btn btn-primary btn-md" })
@Html.ActionLink("Print ", null, "Home", null, new { @class = "btn btn-primary btn-md" })</p>
