
@{
    ViewBag.Title = "ProcessDataReport2";
}

<h2>Process Data Report</h2>

<h4>The data report has been created and the reporting department.</h4>

@Html.ActionLink("Next", "ProcessDataReport3", null, new { @class = "btn btn-primary btn-md" })
