
@{
    ViewBag.Title = "ProcessDataReport4";
}

<h2>ProcessDataReport</h2>
<h4>The data report is successfully updated into the database and stored into the network drive. This will be notifed to Seattle processing department.</h4>

