
@{
    ViewBag.Title = "ProcessBills2";
}

<h2>ProcessBills</h2>
<p>Invocice Information</p>
 <table class="table">
    <tr>
        <th>
            Payment Due
        </th>
        <th>
            Early Payment Date
        </th>
        <th>
            Discount for early payment
        </th>
        
        <th></th>
    </tr>

   
        <tr>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            <td>
                
            </td>
            
        </tr>
    

</table>

