
@{
    ViewBag.Title = "ProcessBills4";
}

<h2>Process Bills</h2>
<h4>Payment is succesfully made. It will update customer balance</h4>
@Html.ActionLink("Next", "ProcessBills5", null, new { @class = "btn btn-primary btn-md" })


