
@{
    ViewBag.Title = "ProcessBills4";
}

<h2>Process Bills</h2>
<h4>The payment has been recorded. Your balance has been updated.</h4>
@Html.ActionLink("Next", "ProcessBills5", null, new { @class = "btn btn-primary btn-md" })


