<div class="row">
    <div class="col-sm-12">
        <h1>Label Details</h1>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        <p>Please confirm that the printed labels are accurate according to the information below.</p>
        <ul>
            <li>If the displayed information and labels are accurate, prepare and label all test tubes and select "Complete" below.</li>
            <li>If the printed labels are inaccurate but the displayed information is, select "Reprint" below.</li>
            <li>If the displayed information is inaccurate, select "Cancel" and inform a manager.</li>
        </ul>
    </div>
</div>

<div class="row">
    <br />
</div>

<div class="row">
    <div class="col-sm-2">
        <h4>LTN-TTN</h4>
    </div>
    <div class="col-sm-2">
        <h4>Concentration</h4>
    </div>
    <div class="col-sm-2">
        <h4>Test Type</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p>947693-1</p>
    </div>
    <div class="col-sm-2">
        <p>0.1</p>
    </div>
    <div class="col-sm-2">
        <p>Test 1</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p>947693-2</p>
    </div>
    <div class="col-sm-2">
        <p>0.1</p>
    </div>
    <div class="col-sm-2">
        <p>Test 2</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p>947693-3</p>
    </div>
    <div class="col-sm-2">
        <p>0.1</p>
    </div>
    <div class="col-sm-2">
        <p>Test 3</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p>947693-4</p>
    </div>
    <div class="col-sm-2">
        <p>0.1</p>
    </div>
    <div class="col-sm-2">
        <p>Test 4</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p>947693-5</p>
    </div>
    <div class="col-sm-2">
        <p>0.1</p>
    </div>
    <div class="col-sm-2">
        <p>Test 5</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p>947693-6</p>
    </div>
    <div class="col-sm-2">
        <p>0.1</p>
    </div>
    <div class="col-sm-2">
        <p>Test 6</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p>947693-7</p>
    </div>
    <div class="col-sm-2">
        <p>0.1</p>
    </div>
    <div class="col-sm-2">
        <p>Test 7</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p>947693-8</p>
    </div>
    <div class="col-sm-2">
        <p>0.1</p>
    </div>
    <div class="col-sm-2">
        <p>Test 8</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p>947693-9</p>
    </div>
    <div class="col-sm-2">
        <p>0.1</p>
    </div>
    <div class="col-sm-2">
        <p>Test 9</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p>947693-10</p>
    </div>
    <div class="col-sm-2">
        <p>0.1</p>
    </div>
    <div class="col-sm-2">
        <p>Test 10</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p>947693-11</p>
    </div>
    <div class="col-sm-2">
        <p>0.1</p>
    </div>
    <div class="col-sm-2">
        <p>Test 11</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p>947693-12</p>
    </div>
    <div class="col-sm-2">
        <p>0.1</p>
    </div>
    <div class="col-sm-2">
        <p>Test 12</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-offset-9">
        @Html.ActionLink("Complete", "Solubilize2", "Testing", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Reprint", "Solubilize1", "Testing", null, new { @class = "btn btn-primary" })
        @Html.ActionLink("Cancel", "Solubilize", "Testing", null, new { @class = "btn btn-primary" })
    </div>
</div>