<div class="row">
    <div class="col-sm-12">
        <h1>Samples to Solubilize, Prepare, and Dispense</h1>
    </div>
</div>

<div class="row">
    <br />
</div>

<div class="row">
    <div class="col-sm-2">
        <h4>LT Number</h4>
    </div>
    <div class="col-sm-2">
        <h4>Compound Sequence Code</h4>
    </div>
    <div class="col-sm-2">
        <h4>Required Tests</h4>
    </div>
    <div class="col-sm-2">
        <h4>Concentration</h4>
    </div>
</div>

<div class="row">
    <div class="col-sm-2">
        <p>947693</p>
    </div>
    <div class="col-sm-2">
        <p>1</p>
    </div>
    <div class="col-sm-2">
        <p>12</p>
    </div>
    <div class="col-sm-2">
        <p>0.1</p>
    </div>
    <div class="col-sm-1">
        @Html.ActionLink("Print Labels", "Solubilize1", "Testing", null, new { @class = "btn btn-primary" })
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-2">
        <p>947693</p>
    </div>
    <div class="col-sm-2">
        <p>2</p>
    </div>
    <div class="col-sm-2">
        <p>6</p>
    </div>
    <div class="col-sm-2">
        <p>0.2</p>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-primary">Print Labels</button>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-2">
        <p>745032</p>
    </div>
    <div class="col-sm-2">
        <p>1</p>
    </div>
    <div class="col-sm-2">
        <p>24</p>
    </div>
    <div class="col-sm-2">
        <p>0.1</p>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-primary">Print Labels</button>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-2">
        <p>745032</p>
    </div>
    <div class="col-sm-2">
        <p>2</p>
    </div>
    <div class="col-sm-2">
        <p>20</p>
    </div>
    <div class="col-sm-2">
        <p>0.8</p>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-primary">Print Labels</button>
    </div>
</div>

<br />

<div class="row">
    <div class="col-sm-2">
        <p>745032</p>
    </div>
    <div class="col-sm-2">
        <p>3</p>
    </div>
    <div class="col-sm-2">
        <p>30</p>
    </div>
    <div class="col-sm-2">
        <p>0.01</p>
    </div>
    <div class="col-sm-1">
        <button class="btn btn-primary">Print Labels</button>
    </div>
</div>