<div class="row">
    <div class="col-sm-12">
        <p>Your changes have been saved and Cataloging has been notified to authorize and publish them.</p>
    </div>
</div>

<div class="row">
    <div class="col-sm-12">
        @Html.ActionLink("Edit More Assays", "MaintainCatalog", "Cataloging", null, new { @class = "btn btn-primary" })
    </div>
</div>