
@{
    ViewBag.Title = "Create Work Order";
}

<h2>Shipping</h2>

<p>Thank you for your order.</p>
<p>Please ship the samples using the shipping label below:</p>
<img style="width:50%;margin:auto;"src="~/Content/Images/shipping_label.png"/>


