
@{
    ViewBag.Title = "ProcessBills";
}

<h2>ProcessBills</h2>

<div class="form-group">
    <label>Enter all charges of the work order </label>
    <input class="form-control" placeholder="Enter charges">
    <input class="BillButton" type="submit" value="Submit" />
</div>