
@{
    ViewBag.Title = "Review";
}

<div class="row">
    <div class="col-lg-12">
        <h1>Work Order #57814 - ABC Company</h1>
        <br />
        <h3>Tests</h3>
        <table class="table">
            <tr>
                <th>Test</th>
                <th>Compound</th>
                <th>Test Name</th>
                <th>Status</th>
                <th>Completion Date or Estimation</th>
                <th></th>
            </tr>
            <tr>
                <td>1</td>
                <td>Chlorohexodene</td>
                <td>Biochemical Pharmacology</td>
                <td>Complete</td>
                <td>11/29/16</td>
                <td><a class="btn btn-primary"href="#">Edit</a></td>
            <tr>
                <td>2</td>
                <td>Chlorohexodene</td>
                <td>DiscoveryScreen</td>
                <td>Complete</td>
                <td>11/29/16</td>
                <td><a class="btn btn-primary" href="#">Edit</a></td>
            </tr>
            <tr>
                <td>3</td>
                <td>Phytochloride</td>
                <td>Biochemical Pharmacology </td>
                <td>Complete</td>
                <td>12/1/16</td>
                <td><a class="btn btn-primary" href="#">Edit</a></td>
            </tr>
            <tr>
                <td>4</td>
                <td>Phytochloride</td>
                <td>CustomScreen</td>
                <td>Pending</td>
                <td>12/2/16</td>
                <td><a class="btn btn-primary" href="#">Edit</a></td>
            </tr>
        </table>
        <hr />
        <h3>Conditional Tests</h3>
        <table class="table">
            <tr>
                <th>Test</th>
                <th>Compound</th>
                <th>Test Name</th>
                <th>Status</th>
                <th>Completion Date or Estimation</th>
                <th></th>
            </tr>
            <tr>
                <td>1-2</td>
                <td>Compound 1</td>
                <td>PharmaScreen</td>
                <td>Waiting Approval</td>
                <td>12/4/16</td>
                <td><a class="btn btn-primary" href="#">Approve</a></td>
            <tr>
                <td>3-2</td>
                <td>Compound 1</td>
                <td>ProfilingScreen</td>
                <td>Waiting Approval</td>
                <td>12/4/16</td>
                <td><a class="btn btn-primary" href="#">Approve</a></td>
            </tr>
        </table>
        <a class="btn btn-primary" href="#">Add Another Test</a>
    </div>
</div> 
